<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'order/style.css' %}">
    <title>Foodplan 2021 - Меню на неделю FOODPLAN</title>
    <script src="https://3dsec.sberbank.ru/payment/docsite/assets/js/ipay.js"></script>
    <script>
        var ipay = new IPAY({api_token: 'YRF3C5RFICWISEWFR6GJ'});
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'order/img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
                </a>
                <h3 class="text-secondary mt-2 me-2">Стоимость: {{ result }}₽ </h3>
<!--                <button form="order" type="submit" class="btn shadow-none btn-sm btn-outline-success foodplan_green foodplan__border_green">Оплатить</button>-->
                    <a onclick="ipayCheckout({
                        amount:{{ result }},
                        currency:'RUB',
                        order_number:'',
                        description: 'Подписка на FoodPlan'},
                        function(order) { showSuccessfulPurchase(order) },
                        function(order) { showFailurefulPurchase(order) })"

                        class="btn shadow-none btn-sm btn-outline-success foodplan_green foodplan__border_green">Оплатить
                    </a>
            </div>
        </nav>
    </header>
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
                <h5 class="text-secondary mb-3">Вам будет доступно 4 типа меню: Классическое, Низкокалорийное, Вегетарианское и Кето.</h5>
                <div class="row mb-5">

                  <div class="col-6 col-md-3">

                        <label for="id_food_category_0" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'order/img/menu_classical.png' %}" alt="" class="w-100">
                            <input type="radio" name="food_category" value="100" class="foodplan_selected d-none" onchange="submit();" id="id_food_category_0" {% if food_form_cost == 100 %}required="" checked=""{% endif %}>
<!--                            <input form="order" type="radio" name="foodtype" id="classic" value="classic" class="foodplan_selected d-none">-->
                            <div class="img_selected" id="img1"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">
                        
                        <label for="id_food_category_1" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'order/img/menu_nizkougl.png' %}" alt="" class="w-100">
                            <input type="radio" name="food_category" value="200" class="foodplan_selected d-none" onchange="submit();" id="id_food_category_1" {% if food_form_cost == 200 %}required="" checked=""{% endif %}>
<!--                            <input form="order" type="radio" name="foodtype" id="low" value="low" class="foodplan_selected d-none">-->
                            <div class="img_selected" id="img2"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">

                        <label for="id_food_category_2" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'order/img/menu_veg.png' %}" alt="" class="w-100">
                            <input type="radio" name="food_category" value="300" class="foodplan_selected d-none" onchange="submit();" id="id_food_category_2" {% if food_form_cost == 300 %}required="" checked=""{% endif %}>
                            <div class="img_selected" id="img3"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">
                        
                        <label for="id_food_category_3" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'order/img/menu_keto.png' %}" alt="" class="w-100">
                            <input type="radio" name="food_category" value="400" class="foodplan_selected d-none" onchange="submit();" id="id_food_category_3" {% if food_form_cost == 400 %}required="" checked=""{% endif %}>

<!--                            <input form="order" type="radio" name="foodtype" id="keto" value="keto" class="foodplan_selected d-none">-->
                            <div class="img_selected" id="img4"></div>
                        </label>
                    </div>

                </div></form>
                <h2><strong>Выберите подходящий тариф</strong></h2>
                <form id="order" method="POST">
                    {% csrf_token %}
                <table class="table text-center text-truncate mb-5">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Срок</th>
                            <td>
                                <select name="time" class="form-select" onchange="submit(); changeTime(this);" id="id_time">
                                  <option value="1" {% if time == '1' %}selected="selected"{% endif %}>1 месяц</option>

                                  <option value="3" {% if time == '3' %}selected="selected"{% endif %}>3 месяца</option>

                                  <option value="6" {% if time == '6' %}selected="selected"{% endif %}>6 месяцев</option>

                                  <option value="12" {% if time == '12' %}selected="selected"{% endif %}>12 месяцев</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Завтраки</th>
                            <td>
                                <select name="breakfast" class="form-select" onchange="submit();" id="id_breakfast">
                                  <option value="50" {% if breakfast %}selected="selected"{% endif %}>✔</option>

                                  <option value="0" {% if not breakfast %}selected="selected"{% endif %}>✘</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Обеды</th>
                            <td>
                                <select name="lunch" class="form-select" onchange="submit();" id="id_lunch">
                                  <option value="50" {% if lunch %}selected="selected"{% endif %}>✔</option>

                                  <option value="0" {% if not lunch %}selected="selected"{% endif %}>✘</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Ужины</th>
                            <td>
                                <select name="dinner" class="form-select" onchange="submit();" id="id_dinner">
                                  <option value="50" {% if dinner %}selected="selected"{% endif %}>✔</option>

                                  <option value="0" {% if not dinner %}selected="selected"{% endif %}>✘</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Десерты</th>
                            <td>
                                <select name="dessert" class="form-select" onchange="submit();" id="id_dessert">
                                  <option value="50" {% if dessert %}selected="selected"{% endif %}>✔</option>

                                  <option value="0" {% if not dessert %}selected="selected"{% endif %}>✘</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Кол-во персон</th>
                            <td>
                                <select name="amount_person" class="form-select" onchange="submit(); changeAmountPerson(this);" id="id_amount_person">
                                  <option value="1" {% if amount_person == '1' %}selected="selected"{% endif %}>1</option>

                                  <option value="2" {% if amount_person == '2' %}selected="selected"{% endif %}>2</option>

                                  <option value="3" {% if amount_person == '3' %}selected="selected"{% endif %}>3</option>

                                  <option value="4" {% if amount_person == '4' %}selected="selected"{% endif %}>4</option>

                                  <option value="5" {% if amount_person == '5' %}selected="selected"{% endif %}>5</option>

                                  <option value="6" {% if amount_person == '6' %}selected="selected"{% endif %}>6</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Аллергии</th>
                            <td>
                                <div class="form-check d-flex justify-content-start">
                                    <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="" name="allergy1">
                                    <label class="form-check-label" for="allergy1">
                                        Рыба и морепродукты
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="" name="allergy2">
                                    <label class="form-check-label" for="allergy2">
                                        Мясо
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="" name="allergy3">
                                    <label class="form-check-label" for="allergy3">
                                        Зерновые
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="" name="allergy3">
                                    <label class="form-check-label" for="allergy3">
                                        Продукты пчеловодства
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="" name="allergy3">
                                    <label class="form-check-label" for="allergy3">
                                        Орехи и бобовые
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="" name="allergy3">
                                    <label class="form-check-label" for="allergy3">
                                        Молочные продукты
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" id="TableSubmit" class="d-none"></button>
                </form>

                <form class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey" method="POST">
                    {% csrf_token %}
                    <label for="exampleInputPassword1" class="form-label me-2">Промокод</label>
                    {{ promo_form.promocode }}
<!--                    <input type="password" class="form-control me-2" id="password">-->
                    <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Применить</button>
                </form>
                {% if promocode %}
                    {% if not correct_promocode %}
                        Промокод неверный
                    {% endif %}
                {% endif %}
                <div class="d-flex justify-content-center my-5">
                    <a onclick="ipayCheckout({
                        amount:{{ result }},
                        currency:'RUB',
                        order_number:'',
                        description: 'Подписка на FoodPlan'},
                        function(order) { showSuccessfulPurchase(order) },
                        function(order) { showFailurefulPurchase(order) })"

                        class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50">Оплатить
                    </a>
<!--                    <button form="order" type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50">Оплатить</button>-->
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        let cords = ['scrollX','scrollY'];
        // Перед закрытием записываем в локалсторадж window.scrollX и window.scrollY как scrollX и scrollY
        window.addEventListener('unload', e => cords.forEach(cord => localStorage[cord] = window[cord]));
        // Прокручиваем страницу к scrollX и scrollY из localStorage (либо 0,0 если там еще ничего нет)
        let mass = [...cords.map(cord => localStorage[cord])];
        window.scroll({left:mass[0], top:mass[1], behavior: 'instant'});
    </script>
    <script>

       function showSuccessfulPurchase() {
       setTimeout(() => { location.href = '{% url 'order:success_payment' %}'; }, 3000);
       }
    </script>
    <script>
        function changeAmountPerson(el) {
          localStorage.id_amount_person = el ? el.value : localStorage.id_amount_person || "1";
          document.getElementById("id_amount_person").value = localStorage.id_amount_person
        }

        changeAmountPerson();
    </script>
    <script>
    function changeTime(el) {
      localStorage.id_time = el ? el.value : localStorage.id_time || "1";
      document.getElementById("id_time").value = localStorage.id_time
    }

    changeTime();
    </script>
</body>
